@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    overflow-x: hidden;
    height: 1500px;
}
body.dark-mode {
    background-color: black;
    color: white;
  }
.container{
    width: 100%;
    min-height: 100vh;
    /* background-color: #f3f5f8; */
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
     color: #7f00ff;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color:  #7f00ff;
}
h1{
    display: block;
    font-size: 3.5em;
    font-weight: 850;
    color: #3d535f;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    z-index: 2;
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
.btns button{
    
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    background: linear-gradient(to right, rgb(29, 29, 69), gray, black);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    transition: 1s ease-in-out;
}
.btns button:hover{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: linear-gradient(to right, white, white, white);
    color: black;

    border: 1px solid linear-gradient(to right, rgb(29, 29, 69), gray, black);
}
.imgbox{
    position: relative;
    height: 100%;
    width: 100%;
}
/* .imgbox .img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
}
.me{
    width: 140%;

}
.imgbox #splash{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite; 
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
} */
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50% / 60%;
    animation: blob 2s ease-in-out infinite;
  }
  .top {
    float: right;
    margin: -120px 200px 0px 0px;
    z-index: -1;
}
.bottom {
    position: absolute;
    top: 50%;
    left: 0%;
    float: left;
    margin: 0px 0px 500px -200px;
    z-index: 1;
}
  @keyframes blob {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }  

  .toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .4s ease;
}

.toggle i {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}

input {
    display: none;
}
.light {
    background: #fff;
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 0px 0px 3px;
    margin-top: 10px;
    height: 53px;
}

.light .toggle .bxs-sun {
    color: #fff;
}

.light .toggle .bx-moon {
    color: #151d2a;
}

.light .toggle .ball {
    background: #151d2a;
}

.dark {
    background: #151d2a;
    color: white !important;
}

.dark .toggle {
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b,
                -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(60px);
}

/* About */

.aboutDiv{
    width: 100%;
}
.aboutDiv .i{
    float: left;
    width: 30%;
    height: 550px;
    box-shadow: 0 0 2px;
    margin: 0 30px 0 70px;
}
.aboutDiv .ii{
    float: left;
    width: 30%;
    height: 550px;
    box-shadow: 0 0 2px;
}
.aboutDiv .iii{
    margin-right: 25px;
    float: right;
    width: 30%;
    height: 550px;
    box-shadow: 0 0 2px;
}



.hide{
    display: none;
}
