@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    overflow-x: hidden;
    height: 1500px;
}
body.dark-mode {
    background-color: black;
    color: white !important;
  }
.container{
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
     color: #7f00ff;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color:  #7f00ff;
}
h1{
    display: block;
    font-size: 3.5em;
    font-weight: 850;
    color: #3d535f;
}
.name{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    background: url(Stripes.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    z-index: 2;
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
.btns button{
    
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    background: linear-gradient(to right, rgb(29, 29, 69), gray, black);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    transition: 1s ease-in-out;
}
.btns button:hover{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: linear-gradient(to right, white, white, white);
    color: black;

    border: 1px solid linear-gradient(to right, rgb(29, 29, 69), gray, black);
}
.imgbox{
    position: relative;
    height: 100%;
    width: 100%;
}
/* .imgbox .img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
}
.me{
    width: 140%;

}
.imgbox #splash{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite; 
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
} */
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50% / 60%;
    animation: blob 2s ease-in-out infinite;
  }
  .top {
    float: right;
    margin: -120px 200px 0px 0px;
    z-index: -1;
}
.bottom {
    position: absolute;
    top: 50%;
    left: 0%;
    float: left;
    margin: 0px 0px 500px -200px;
    z-index: 1;
}
  @keyframes blob {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }  

  .toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .4s ease;
}

.toggle i {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}

input {
    display: none;
}
.light {
    background: #fff;
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 0px 0px 3px;
    margin-top: 10px;
    height: 53px;
}

.light .toggle .bxs-sun {
    color: #fff;
}

.light .toggle .bx-moon {
    color: #151d2a;
}

.light .toggle .ball {
    background: #151d2a;
}

.dark {
    background: #151d2a;
    color: white !important;
}

.dark .toggle {
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b,
                -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(60px);
}

/* About */

.aboutDiv{
    width: 100%;
}
.aboutDiv h2{
    font-weight: bold;
    margin-left: 750px;
}
.aboutDiv .i{
    float: left;
    width: 30%;
    height: 550px;
    box-shadow: 0 0 2px;
    margin: 0 30px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutDiv .i h2{
    font-family: cursive;
    margin: -40px 0 40px 0px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 4px black;
}
.aboutDiv .ii{
    float: left;
    width: 30%;
    height: 550px;
    box-shadow: 0 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutDiv .ii h2{
    font-family: cursive;
    margin: -40px 0 40px 0px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 4px black;
}
.ii span{
    font-weight: bold;
    color: black;
}
.aboutDiv .iii{
    margin-right: 25px;
    float: right;
    width: 30%;
    height: 550px;
    box-shadow: 0 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutDiv .iii h2{
    font-family: cursive;
    margin: -40px 0 40px 0px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 4px black;
}
.iii .backend ion-icon{
    float: left;
    font-size: 35px;
    font-weight: bold;
}
.iii .backend h4{
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 10px;
}



.hide{
    display: none;
}
.skillsDiv{
    margin-top: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillsDiv .front{
    /* border: 1px solid rgb(0, 0, 0); */
    box-shadow: 0 0 2px;
    width: 95%;
    height: 600px;
}
.front h1{
    margin-left: 600px;
}
.front img{
    float: left;
    width: 43%;
    height: 86%;
    object-fit: cover;
}
.front .right{
    float: right;
    width: 54%;
    height: 86%;
    margin-right: 10px;
}
.skillsDiv .back{
    border: 1px solid black;
    width: 95%;
    height: 600px;
}
#extraBtn{
  margin-top: 20px;
}

.free{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 180px;
    background-color: rgb(0, 0, 0);
    margin:30px 0;
}
.free a{
    width: 150px;
    height: 40px;
    text-decoration: none;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
}
.free a:hover{
    background-color: white;
    color: black;
}
.web{
    float: left;
    width: 30%;
    height: 300px;
    box-shadow: 0 0 3px;
    margin-left: 20px;
    border-radius: 5px;
    background: url(web.jpg) no-repeat;
    background-size: cover;
    color: white;

}
.design{
    float: left;
    width: 30%;
    height: 300px;
    box-shadow: 0 0 3px;
    margin-left: 20px;
    border-radius: 5px;
    background: url(design.png) no-repeat;
    background-size: cover;
    color: white;
}
.software{
    float: left;
    width: 30%;
    height: 300px;
    box-shadow: 0 0 3px;
    margin-left: 20px;
    border-radius: 5px;
    background: url(sod.jpg) no-repeat;
    background-size: cover;
    color: white;
}

.projects{
    width: 100%;
    height: 500px;
    margin-top: 350px;
    box-shadow: 0 0 1px;
}
.projects h2{
    margin-left: 650px;
    font-weight: bold;
}
.frontP a{
    font-weight: bold;
    font-size: 30px;
    color: rgb(4, 41, 69);
}
.detectionApp{
    float: left;
    width: 30%;
    height: 420px;
    box-shadow: 0 0 2px;
    margin-left: 20px;
}
.detectionApp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.weatherApp{
    float: left;
    width: 30%;
    height: 420px;
    box-shadow: 0 0 2px;
    margin-left: 20px;
}
.weatherApp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MovieApp{
    float: left;
    width: 30%;
    height: 420px;
    box-shadow: 0 0 2px;
    margin-left: 20px;
}
.MovieApp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#othersBtn{
    width: 90px;
    background-color: blue;
    margin-top: 380px;
    border-radius: 3px;
    height: 40px;
}
.backP {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
.backP > div{
    box-shadow: 0 0 2px;
    width: 32%;
    height: 100%;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.blackJack{
  float: left;
}
.todoApp{
    float: left;
}
.quizApp{
    float: left;
}
.quoteGen{
    float: left;
}
.tictac{
    float: left;
}
.urlshortener{
    float: left;
}
.alarm{
    float: left;
}


.blog{
    margin-top: 50px;
    width: 100%;
}
.blog h2{
    margin-left: 650px;
    font-family: cursive;
    font-size: bold;
}
.blog div{
    box-shadow: 0 0 2px;
}
.blog .life{
    margin-left: 20px;
    width: 90%;
}
.life img{
    width: 40%;
}
.blog .gpt{
    margin-left: 20px;
    width: 90%;
}
.gpt img{
    width: 40%;
}
.blog .copilot{
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
}
.copilot img{
    width: 40%;
}


.done{
    margin: 30px 0;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white !important;
    display: flex;
}
.done .blob {
    background-color: rgb(170, 9, 95);
    width: 200px;
    height: 200px;
    border-radius: 50% / 60%;
    animation: blobl 2s ease-in-out infinite;
    transition: 2s ease-in-out;
  }
  @keyframes blobl {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
      background-color: blue;
    }
    100% {
      transform: scale(1);
      background-color: #7f00ff;
    }
  }  
.done .text{
    margin-left: 300px;
}
.cert {
    float: right;
    margin: 30px;
}
.did {
    color: white;
    width: 45%;
    height: 20%;
    margin-left: 200px;
    /* background-color: white; */
    padding-top: 5px;
}
.cert a{
    border: 0.1px solid #fff;
    color: white;
    margin-right: 30px;
    width: 180px;
}
.cert a:hover{
    border: 0.1px solid #fff;
    box-shadow: 0 0 2px #fff;
    color: #000;
    background-color: white;
}

.contact{
    margin-top: 20px;
    width: 100%;
}
.contact h2{
    font-family: cursive;
    margin-left: 650px;
    font-weight: bold;
}
.sendEmail{
    float: left;
    width: 60%;
    height: 430px;
    box-shadow: 0 0 4px;
    margin: 30px;
}
.lastContact{
    margin: 28px;
    float: left;
    width: 30%;
    height: 450px;
    box-shadow: 0 0 4px;
    display: grid;
    padding-top: 10px;
}
.lastContact .in{
    margin: 20px 0px 0px 110px;
}
.lIcons{
    width: 100%;
    
}
.lIcons ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .lIcons li {
    margin: 0 10px;
  }
  
  .lIcons a {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
  .lIcons ion-icon {
    font-size: 24px;
  }
  



.sendEmail #name{
    float: left;
    width: 48%;
}
.sendEmail #email{
    float: left;
    width: 49%;
}
.sendEmail #subject{
    width: 98%;
}
/* #message{
    margin-left: px;
} */
.sendEmail #submit{
    width: 96%;
}

.lastContact span{
    font-weight: bold;
    color: rgb(13, 13, 13);
}